{% extends 'base.html' %}
{% block title %}About Me{% endblock title %}

{% block body %}
  <h2>About Me</h2>
  <p>I'm a Computer Science student living in New Delhi, India. I like reading,
  classic rock and learning new programming languages. </p>
  <p>If you want to get in
  touch with me, email me at <a href="mailto:admin@theburningcode.com">admin@theburningcode.com</a>.
  I'm nice and I always reply!</p>
  <p>I also idle on IRC networks like Freenode under the handle <code>Naeblis</code>.</p>
{% endblock body %}
