<!DOCTYPE html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    {% assets 'css_main' %} 
      <link rel="stylesheet" href="{{ ASSET_URL }}" /> 
      <link href="{{ url_for('recent_feed') }}" rel="alternate" title="Recent Changes" type="application/atom+xml">
    {% endassets %}
    <script type="text/javascript" src="//use.typekit.net/tzh8fig.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <title>
      {% block title %}The Burning Code{% endblock title %}
    </title>
    {% block head %}
    {% endblock head %}
</head>

<body>
<header id="banner">
  <a href="/"><h1>Manish Gill's Blog</h1></a>
  <nav>
      <ul>
       <li><a href="/code">Code</a></li>
       <li><a href="/about">About</a></li>
       <li><a href="/contact">Contact</a></li>
       <li><a href="/feed">Feed</a></li>
     </ul>
  </nav>
</header>

<div class="container">
  {% block body %}
  {% endblock body %}
</div>

<footer>
  <p>Created in Python using the awesome Flask framework. :)</p>
{% block footer %}
{% endblock footer %}
</footer>
</body>

</html>
