{% extends 'base.html' %}
{% block title %}Code{% endblock title %}

{% block body %}
    <h2>Code</h2>
    <p>I use <a href="http://python.org">Python</a> as my primary programming
    language, but I also dabble in Javascript, Ruby, Scheme/Racket, and C. I
    like building things on the web, and use frameworks like Flask and Django
    for that. I'm also a compiler nerd, and love diving into the deep end when
    it comes to programming languages.</p>
    <p>You can find most of my projects on <a href="http://github.com/mgill25">Github</a> or 
    <a href="http://bitbucket.org/Manish_Gill">Bitbucket</a>. I also have some
    stuff on <a href="http://launchpad.net/~mgill25">Launchpad</a>.</p>
{% endblock body %}
