{% extends 'base.html' %}
{% block title %}Contact{% endblock title %}

{% block body %}
<h2>Contact</h2>
  <ul>
    <li>Email: <a href="mailto:admin@theburningcode.com">admin@theburningcode.com</a></li>
    <li>IRC (Freenode and OFTC): <code>Naeblis</code></li>
    <li>Twitter: <a href="http://twitter.com/mgill25" target="_blank">@mgill25</a></li>
  </ul> 
{% endblock body %}
