<!DOCTYPE html>
{% extends 'base.html' %}

{% block body %}
<section class="content">
   <div id="posts">
    {% for post in posts.items %}
      <div class="single_post">
        {% if post %}
            <article>
              <header>
                <a href="{{ url_for('individual_post', post_title=(post.title|slugify)) }}" itemprop="url">
                  <h2 itemprop="headline"> {{ post.title }} </h2>
                </a>
                <div class="post_time"> Posted on {{ post.post_on|dtformat }} </div>
              </header>
              <div class="post_body">
                  {{ post.body|markdown }}
              </div>
            </article>
        {% else %}
            <h3> Nothing to see here. :( </h3>
        {% endif %}
      </div>
    {% endfor %}
   </div>
</section>
{% endblock body %}

{% block footer %}
  {% if posts.pages > 1 %}
    <div class="prev_button">
      {% if posts.has_prev %}<a href="{{ url_for('index', page=posts.prev_num) }}">Previous</a>
      {% else %}Previous{% endif %}
    </div>
    <span class="clear">Page {{ posts.page }} of {{ posts.pages }}</span>
    <div class="next_button">
      {% if posts.has_next %}<a href="{{ url_for('index', page=posts.next_num) }}">Next</a>
      {% else %}Next{% endif %}
    </div>
  {% endif %}
{% endblock footer %}
