<!DOCTYPE html>
<!-- This page should contain the blog main page, not the login page. -->
{% extends 'base.html' %}
{% block head %}
<head>
    <h1> Awesomeness Blog </h1>
</head>
{% endblock head %}
{% block body %}
<section id="posts">
        {% for post in posts|reversed %}
            {% if post %}
                <header>
                    <h2> {{ post.title }} </h2>
                </header>
                <article>
                    <div class="posts">
                        <p> {{ post.body }} </p>
                    </div>
                </article>
            {% else %}
                <h3> Nothing to see here. :( </h3>
            {% endif %}
        {% endfor %}
</section>
</div>

{% endblock body %}
</html>
