{% extends 'base.html' %}

{% block title %}
    Something Went Wrong!
{% endblock title %}

{% block body %}
    <div class="error-container">
        <p>Sorry, something went wrong. The post you are looking for does not exists. If you think this is a mistake, please contact the admin of this website!</p>
    </div>
{% endblock body %}
