{% extends 'base.html' %}

{% block title %}
  {{ post.title }}
{% endblock title %} 

{% block body %}
<div class="content" itemscope itemtype="http://schema.org/BlogPosting">
    <!-- Ref: http://schema.org/docs/gs.html and the link above in itemtype 
    Useful for search engines -->
    <div id="posts">
      <article>
        <header>
          <a href="{{ url_for('individual_post', post_title=(post.title|slugify)) }}" itemprop="url">
            <h2 itemprop="headline"> {{ post.title }} </h2>
          </a>
          <div class="post_time"> Posted on {{ post.post_on|dtformat }} </div>
        </header>
        <div class="post_body">
          {{ post.body|markdown }}
        </div>
      </article>
    </div>
</div>
{% endblock body %}
