{% extends 'inside.html' %}
{% block title %}Update post{% endblock title %}

{% block head %}
    <h1>Update post</h1>
{% endblock head %}

{% block body %}
  <input type=submit value="Add new post">
  <input type=submit value="Edit post">
  <input type=submit value="Delete post">
  <form action="{{ url_for('update') }}" method=post class=add>
      <dl>
          <dt> Title
          <dd> <input type=text size=30 name=title value={{ post.title }}>
          <dt> Category       <!-- Temporary ugly fix. -->
          <dd> <input type=text size=20 name=category value={{ post.category.name }}>
          <dt> Text
          <dd> <textarea name=text rows=15 cols=120>{{ post.body }}</textarea>
          <dd> <input type=submit value=Publish name=publish>
              <input type=submit value=Preview name=preview>
              <input type=checkbox value=Draft name=draft id=Draft>
              <label for=Draft>Draft</label>

      </dl>
  </form>
  
  <h3>Drafts</h3> 
  <div class="drafts"> 
    <ol>
      {% for post in drafts %}
        <li>
          <a href="{{ url_for('individual_post', post_title=(post.title|slugify)) }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ol>
  </div>
  
  <h3>Live</h3> 
  <div class="drafts"> 
    <ol>
      {% for post in live %}
        <li>
          <a href="{{ url_for('individual_post', post_title=(post.title|slugify)) }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ol>
  </div>
{% endblock %}

