/* main css */

/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
  display: block;
}

html {
  overflow-y: scroll;
}

body {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    /* background-color: #F5F4EF; */
    background-color: white;
    height: 100%;
    widows: 100;
}

::-moz-selection { background: #BD5C78; color: #fff; }
::selection { background: #BD5C78; color: #fff; }

#banner h1 {
  font-family: adelle, Palatino,"Palatino Linotype","Palatino LT STD","Book Antiqua",Georgia,serif;
  font-size: 37px;
  font-weight: 300;
  color: #BD5C78;
  float: left;
  margin-bottom: 40px;
  margin-left: 15px;
}

#banner nav {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 15px;
  float: right;
  margin-bottom: 40px;
  margin-right: 15px;
}

#banner nav li {
  display: inline;
  font-size: 19px;
}

/* Lists */
ul ol, ol ul, ul ul, ol ol { margin: 10px 0; padding: 0 0 0 40px; }
li { display: list-item; }
ul {
  list-style-type: circle;
}
ol {
  list-style-type: decimal;
}

/* headlines */
h1, h2, h3, h4, h5, h6 {
  font-family: adelle, Palatino,"Palatino Linotype","Palatino LT STD","Book Antiqua",Georgia,serif;
  font-weight: 100;
  font-style: normal;
  color: #222;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none;
}

h1 a:hover, h2 a:hover,
h3 a:hover, h4 a:hover, a:hover, #banner h1:hover{
  text-decoration: underline;
}

a {
    text-decoration: none;
    color: #BD5C78;
    font-weight: 400;
}

hr {
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,75), rgba(0,0,0,0));
  background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,75), rgba(0,0,0,0));
  background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,75), rgba(0,0,0,0));
  background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,75), rgba(0,0,0,0));
  background-image:  linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,75), rgba(0,0,0,0));
  border: 0;
  height: 1px;
}

header {
  width: 100%;
  /* height: auto; */
  float: left;
}
header, .container {
  font: 18px/30px Tahoma, Verdana, Segoe, sans-serif;
  font-weight: 300;
  background-color: white;
  font-style: normal;
}

html, body, .container {
  height: 100%;
}

body > .container {
  height: auto;
  min-height: 100%;
}

footer {
  clear: both;
  position: relative;
  z-index: 10;
  height: 3em;
  margin-top: -3em;
}

.content , #posts {
  padding-bottom: 3em;
  margin-left: 15px;
  margin-right: 15px;
}
#posts header {
  margin-top: 20px;
  margin-bottom: 30px;
}

#posts h2 {
  height: 100%;
  width: 100%;
  display: inline;
  /* border-bottom: 2px solid #eee; */
}

#posts .post_body{
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    text-align: justify;
}


div {
  display: block;
}

header {
  width: 100%;
  height: auto;
}

.navbar {
  margin: 0;
  margin-top:6px;
  padding: 0;
  list-style: none;
  font-size: 15px;
  float: right;
}

pre {
  /* this tag maintains nesting indentations. */
    color: #EEE;
    background-color: #322F27;
    padding: 7px;
    line-height: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: "Courier New", "Courier", monospace;
    font-size: 14px;
}

code {
  font-family: "Droid Sans Mono", "Courier New", monospace;
  font-size: 14px;
}

.prev_button {
  float: left;
  margin-right: 5px;
}
.next_button {
  margin-left: 5px;
}
.clear {
  margin-left: 5px;
  margin-right: 5px;
  float: left;
}

p {
  display: block;
  color: #222;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -moz-margin-start: 0;
  -moz-margin-end: 0;
}


